@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #14ffec;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
